In [ ]:
#Experiment - 3
# load the excel
#rename the following columns for the shared database
# count total no of rows and parameter
# count no of male and female
# state wise count
# categoty wise count
# no of null values
# pending dues count
# students having pending dues
# extract specific columns rol number name and mentor
# list of students where aadhaar not avaialable

In [33]:
print("Ayush Garg")
print("1/22/FET/BCS/162")

Ayush Garg
1/22/FET/BCS/162

In [39]:
import pandas as pd

In [40]:
#loading dataset 
df=pd.read_excel('Student-List-Exp.xlsx')
print (df)

    S.No. Semester                           Branch /Course  \
0     NaN      NaN                                      NaN
1     1.0    5CSA1  B.Tech - Computer Science & Engineering
2     2.0    5CSA1  B.Tech - Computer Science & Engineering
3     3.0    5CSA1  B.Tech - Computer Science & Engineering
4     4.0    5CSA1  B.Tech - Computer Science & Engineering
..    ...      ...                                      ...
58   58.0    5CSA2  B.Tech - Computer Science & Engineering
59   59.0    5CSA2  B.Tech - Computer Science & Engineering
60   60.0    5CSA1  B.Tech - Computer Science & Engineering
61   61.0    5CSA1  B.Tech - Computer Science & Engineering
62   62.0    5CSA2                                      NaN

   University Registration No. (Issued by R&S Branch)  \
0                                                 NaN
1                                         22/FET/0062
2                                         22/FET/0063
3                                         22/FET/0064
4                                         22/FET/0065
..                                                ...
58                                        22/FET/0117
59                                        22/FET/0118
60                                        22/FET/0256
61                                        21/SET/2097
62                                                NaN

   Date of Admission in the Present Class/Course          Roll No.  \
0                                            NaN               NaN
1                                     29.07.2025  1/22/FET/BCS/002
2                                     29.07.2024  1/22/FET/BCS/003
3                                     29.07.2024  1/22/FET/BCS/004
4                                     29.07.2024  1/22/FET/BCS/005
..                                           ...               ...
58                                    29.07.2024  1/22/FET/BCS/063
59                                    29.07.2024  1/22/FET/BCS/064
60                                    29.07.2024  1/22/FET/BCS/434
61                                    29.07.2025  1/21/FET/BCS/063
62                                           NaN      12401005M002

   Spelling strictly as per Registration record in Capital Letters (Issued by R&S Branch)-SN  \
0                                     Name of Student
1                                          YASH VERMA
2                                   KUMARI JAN NASHIN
3                                        MANAS RANJAN
4                               SUMIT KUMAR CHAURASIA
..                                                ...
58                                   HANI SINGH RAWAT
59                                      VINAY KHULBEY
60                                           Arsh Jha
61                                     HANSHIKA YADAV
62                                         YASH YADAV

   Spelling strictly as per Registration record in Capital Letters (Issued by R&S Branch)-FN  \
0                                       Father's Name
1                                        HEMANT VERMA
2                                         PAWAN KUMAR
3                                   MUKESH KUMAR RANA
4                                    GANESH CHAURASIA
..                                                ...
58                                       MAIDER SINGH
59                             RAMESH CHANDRA KHULBEY
60                                  DHANESH KUMAR JHA
61                               SURENDER SINGH YADAV
62                                                NaN

           Gender  Religion                 Category Aadhaar No. of Student  \
0   Male / Female       NaN  Gen./SC/ST/OBC / Others                    NaN
1            MALE  HINDUISM                      OBC           686732951051
2          FEMALE  HINDUISM                  GENERAL           767668026945
3            MALE  HINDUISM                      OBC           864325569579
4            MALE  HINDUISM                  GENERAL           895304009268
..            ...       ...                      ...                    ...
58           MALE  HINDUISM                  GENERAL           442840794085
59           MALE  HINDUISM                  GENERAL           235955871111
60           MALE  HINDUISM                  GENERAL           519862437910
61         FEMALE  HINDUISM                      OBC           505375011515
62            NaN       NaN                      NaN                    NaN

    Updated Mobile No. of Student            Updated E-mail ID          State  \
0                             NaN                          NaN            NaN
1                    8.882213e+09     YASH.VERMA2611@GMAIL.COM        HARYANA
2                    8.287842e+09        jannashin06@gmail.com  UTTAR PRADESH
3                    8.409298e+09     RANJANMANAS733@GMAIL.COM          BIHAR
4                    8.851268e+09         SUMIT29117@GMAIL.COM          DELHI
..                            ...                          ...            ...
58                   8.800444e+09      HANIRAWAT1122@GMAIL.COM        HARYANA
59                   8.368171e+09  SOURABHKHULBEY150@GMAIL.COM          DELHI
60                   9.821620e+09        ARSHJHA2003@GMAIL.COM        HARYANA
61                   9.717802e+09     HANSIKAYADAV24@GMAIL.COM        HARYANA
62                            NaN                          NaN            NaN

    Total Due Fee for Current Semester / (Previous semester if pending)  \
0                                                 NaN
1                                                 0.0
2                                                 0.0
3                                                 0.0
4                                                 0.0
..                                                ...
58                                                0.0
59                                                0.0
60                                                0.0
61                                                0.0
62                                                NaN

    Fee Paid for Current Semester / (Previous semester if pending)  \
0                                                 NaN
1                                                 0.0
2                                                 0.0
3                                                 0.0
4                                                 0.0
..                                                ...
58                                                0.0
59                                                0.0
60                                                0.0
61                                                0.0
62                                                NaN

                     mentors     Unnamed: 18
0                        NaN             NaN
1            Dr SURESH KUMAR             NaN
2         Ms SAMEEKSHA KHARE             NaN
3            Dr INDU KASHYAP             NaN
4   Dr RAVINDRA KUMAR CHAHAR             NaN
..                       ...             ...
58   Dr URVASHI RAHUL SAXENA             NaN
59                 Dr SAVITA             NaN
60           Dr NITASHA SONI             NaN
61           Dr SHOBHA TYAGI             NaN
62           Dr MAHBOOB ALAM  MIGRATION CASE

[63 rows x 19 columns]

In [ ]:
#Rename the following columns for the shared dataset

In [41]:
df = df.rename(columns={
    "Branch /Course": "Course",
    "University Registration No. (Issued by R&S Branch)": "Registration No.",
    "Date of Admission in the Present Class/Course": "Admission Date",
    "Spelling strictly as per Registration record in Capital Letters (Issued by R&S Branch)-SN": "Student Name",
    "Spelling strictly as per Registration record in Capital Letters (Issued by R&S Branch)-FN": "Father Name",
    "Aadhaar No. of Student": "Aadhaar No.",
    "Updated Mobile No. of Student": "Mobile No.",
    "Updated E-mail ID": "E-Mail ID",
    "Total Due Fee for Current Semester / (Previous semester if pending)": "Due Fee Pending",
    "Fee Paid for Current Semester / (Previous semester if pending)": "Fee Paid Pending"
})

# Print the updated DataFrame
print(df)

    S.No. Semester                                   Course Registration No.  \
0     NaN      NaN                                      NaN              NaN
1     1.0    5CSA1  B.Tech - Computer Science & Engineering      22/FET/0062
2     2.0    5CSA1  B.Tech - Computer Science & Engineering      22/FET/0063
3     3.0    5CSA1  B.Tech - Computer Science & Engineering      22/FET/0064
4     4.0    5CSA1  B.Tech - Computer Science & Engineering      22/FET/0065
..    ...      ...                                      ...              ...
58   58.0    5CSA2  B.Tech - Computer Science & Engineering      22/FET/0117
59   59.0    5CSA2  B.Tech - Computer Science & Engineering      22/FET/0118
60   60.0    5CSA1  B.Tech - Computer Science & Engineering      22/FET/0256
61   61.0    5CSA1  B.Tech - Computer Science & Engineering      21/SET/2097
62   62.0    5CSA2                                      NaN              NaN

   Admission Date          Roll No.           Student Name  \
0             NaN               NaN        Name of Student
1      29.07.2025  1/22/FET/BCS/002             YASH VERMA
2      29.07.2024  1/22/FET/BCS/003      KUMARI JAN NASHIN
3      29.07.2024  1/22/FET/BCS/004           MANAS RANJAN
4      29.07.2024  1/22/FET/BCS/005  SUMIT KUMAR CHAURASIA
..            ...               ...                    ...
58     29.07.2024  1/22/FET/BCS/063       HANI SINGH RAWAT
59     29.07.2024  1/22/FET/BCS/064          VINAY KHULBEY
60     29.07.2024  1/22/FET/BCS/434               Arsh Jha
61     29.07.2025  1/21/FET/BCS/063         HANSHIKA YADAV
62            NaN      12401005M002             YASH YADAV

               Father Name         Gender  Religion                 Category  \
0            Father's Name  Male / Female       NaN  Gen./SC/ST/OBC / Others
1             HEMANT VERMA           MALE  HINDUISM                      OBC
2              PAWAN KUMAR         FEMALE  HINDUISM                  GENERAL
3        MUKESH KUMAR RANA           MALE  HINDUISM                      OBC
4         GANESH CHAURASIA           MALE  HINDUISM                  GENERAL
..                     ...            ...       ...                      ...
58            MAIDER SINGH           MALE  HINDUISM                  GENERAL
59  RAMESH CHANDRA KHULBEY           MALE  HINDUISM                  GENERAL
60       DHANESH KUMAR JHA           MALE  HINDUISM                  GENERAL
61    SURENDER SINGH YADAV         FEMALE  HINDUISM                      OBC
62                     NaN            NaN       NaN                      NaN

     Aadhaar No.    Mobile No.                    E-Mail ID          State  \
0            NaN           NaN                          NaN            NaN
1   686732951051  8.882213e+09     YASH.VERMA2611@GMAIL.COM        HARYANA
2   767668026945  8.287842e+09        jannashin06@gmail.com  UTTAR PRADESH
3   864325569579  8.409298e+09     RANJANMANAS733@GMAIL.COM          BIHAR
4   895304009268  8.851268e+09         SUMIT29117@GMAIL.COM          DELHI
..           ...           ...                          ...            ...
58  442840794085  8.800444e+09      HANIRAWAT1122@GMAIL.COM        HARYANA
59  235955871111  8.368171e+09  SOURABHKHULBEY150@GMAIL.COM          DELHI
60  519862437910  9.821620e+09        ARSHJHA2003@GMAIL.COM        HARYANA
61  505375011515  9.717802e+09     HANSIKAYADAV24@GMAIL.COM        HARYANA
62           NaN           NaN                          NaN            NaN

    Due Fee Pending  Fee Paid Pending                   mentors  \
0               NaN               NaN                       NaN
1               0.0               0.0           Dr SURESH KUMAR
2               0.0               0.0        Ms SAMEEKSHA KHARE
3               0.0               0.0           Dr INDU KASHYAP
4               0.0               0.0  Dr RAVINDRA KUMAR CHAHAR
..              ...               ...                       ...
58              0.0               0.0   Dr URVASHI RAHUL SAXENA
59              0.0               0.0                 Dr SAVITA
60              0.0               0.0           Dr NITASHA SONI
61              0.0               0.0           Dr SHOBHA TYAGI
62              NaN               NaN           Dr MAHBOOB ALAM

       Unnamed: 18
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
..             ...
58             NaN
59             NaN
60             NaN
61             NaN
62  MIGRATION CASE

[63 rows x 19 columns]

In [ ]:
#Printing the Number of rows and columns

In [42]:
num_row,num_col=df.shape
print(f"Rows : {num_row} , columns: {num_col}")

Rows : 63 , columns: 19

In [ ]:
#Calculating the no. of males and female students

In [43]:
num=df['Gender'].value_counts()
print(num)

Gender
MALE             48
FEMALE           13
Male / Female     1
Name: count, dtype: int64

In [ ]:
#calculating the number of students based on different states

In [44]:
num=df['State'].value_counts()
print(num)

State
HARYANA          33
DELHI            12
BIHAR             6
UP                2
UTTAR PRADESH     1
RAJASTHAN         1
Haryana           1
0                 1
NEPAL             1
ODISHA            1
West Bengal       1
Name: count, dtype: int64

In [ ]:
#Calculate the no. of students of based on category

In [45]:
num=df['Category'].value_counts()
print(num)

Category
GENERAL                    48
OBC                        13
Gen./SC/ST/OBC / Others     1
Name: count, dtype: int64

In [ ]:
#count the number of students having null values in features

In [46]:
num=df.isnull().sum()
print(num)

S.No.                1
Semester             1
Course               2
Registration No.     2
Admission Date       2
Roll No.             1
Student Name         0
Father Name          2
Gender               1
Religion             2
Category             1
Aadhaar No.          3
Mobile No.           2
E-Mail ID            2
State                3
Due Fee Pending      2
Fee Paid Pending     4
mentors              1
Unnamed: 18         62
dtype: int64

In [ ]:
# List of students pending dues

In [47]:
result=df[(df['Due Fee Pending'].notnull()) & (df['Due Fee Pending']>0)]
result=result[['Student Name','Due Fee Pending']]
print(result)

      Student Name  Due Fee Pending
15     HARSH SINGH         93999.72
24  ASHUTOSH KUMAR        277000.00
39      PIYUSH RAJ        106520.00

In [ ]:
#Print the Name, Roll number and Mentor name of each Students

In [48]:
data=df[['Roll No.','Student Name','mentors']]
print(data)

            Roll No.           Student Name                   mentors
0                NaN        Name of Student                       NaN
1   1/22/FET/BCS/002             YASH VERMA           Dr SURESH KUMAR
2   1/22/FET/BCS/003      KUMARI JAN NASHIN        Ms SAMEEKSHA KHARE
3   1/22/FET/BCS/004           MANAS RANJAN           Dr INDU KASHYAP
4   1/22/FET/BCS/005  SUMIT KUMAR CHAURASIA  Dr RAVINDRA KUMAR CHAHAR
..               ...                    ...                       ...
58  1/22/FET/BCS/063       HANI SINGH RAWAT   Dr URVASHI RAHUL SAXENA
59  1/22/FET/BCS/064          VINAY KHULBEY                 Dr SAVITA
60  1/22/FET/BCS/434               Arsh Jha           Dr NITASHA SONI
61  1/21/FET/BCS/063         HANSHIKA YADAV           Dr SHOBHA TYAGI
62      12401005M002             YASH YADAV           Dr MAHBOOB ALAM

[63 rows x 3 columns]

In [ ]:
#Print number of students having null aadhaar value

In [49]:
data=df[df['Aadhaar No.'].isnull()]
print(data['Student Name'])

0     Name of Student
7            ABHISHEK
62         YASH YADAV
Name: Student Name, dtype: object

In [ ]:
#writing data to excel file

In [54]:
df.to_excel('data.xlsx')